body {

  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #F6FFDE;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

span{
  color:red
}
.table
{
  width: 100%;
  display: table;
}
.row
{
  display: table-row;
}
.col{
  display: table-cell;
    /* border: 1px solid #dddddd; */
  padding: 8px;
  line-height: 1.42857143;
  vertical-align: top;
  max-width: 200px;
}

.input_div{
  display: flex;
  min-width: 450px;
}
.left_div{
  width:140px;
  padding: .8rem;
}
.right_div{
width: auto;
padding: 0.8rem;
}
.formContainer{
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
}
.th {
  background-color: aquamarine;
}

.td_even {
  background-color: #AFD3E2;
}

.td_odd {
  background-color: #AFD5CC;
}
